@import url('reset.css');
@import url(https://fonts.googleapis.com/css?family=Exo:400,500,500italic,700,900);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic);
/** Main Styles **/

body {
	color: #2f2f2f;
	font-family: 'Open-Sans', tahoma, sans-serif;
	overflow-x: hidden;
}

.social {
	float: right;
}

.social li{
	display: inline-block;
}

.header {
	background-color: rgb(255,255,255);
	position: fixed;
	height: 63px;
	width: 100%;
	border-bottom: 2px solid #ec1c24;
}

.logo {
	width: 40%;
    margin-left: 15px;
    margin-top: 3px;
}

.navigation {
	background: #ec1c24;
	height: 50px;
	width: 100%;
	margin: 0;
	text-align: center;
	margin-top: 65px;
}

.navigation ul li{
	display: inline-block;
	padding: 15px 10px;
}

.navigation ul li a {
	text-decoration: none;
	color: #fff;
	font-weight: bold;

}

.slider {
	margin-top: -13px;
}

.slider img {
	width: 100%;
}

.article_img {
	width: 25%;
}
