.cb {
	clear: both;
}

.header {
	padding: 0 !important;
}

.header-row {
	margin: 0;

}

.logo {
	width: 20%;
}

nav a {
	color: #424242 !important;
	font-size: 25px !important;
	font-weight: bolder;
	text-transform: lowercase;
}

nav a:hover {
	color: #ee3223 !important;
}
